# --- ESSENCIAIS (Não apague estes!) ---
node_modules
dist
dist-ssr
*.local
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- VARIÁVEIS DE AMBIENTE (Segurança) ---
.env
.env.local
.env.*.local
!.env.example

# --- TYPESCRIPT & LINTERS ---
*.tsbuildinfo
.eslintcache
.prettiercache

# --- SISTEMA E EDITORES ---
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.sw?
*.suo

# --- VITE ---
.vite
.vercel
